


* {box-sizing: border-box;}
form {
  position: relative;
  width: 750px;
  margin: 0 auto;
} 
select{
   position: absolute; 
  top: 0;
  left: 0px;
  width: 110px;
  height: 62px;
  border: none;
  background: #7BAAAB;
  border-radius: 20px 0 0 20px ;
}

/*начало круг*/
.dumolo {
  /*border: 2px solid orange;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}
.dumolo ul {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.dumolo ul li {
  display: inline-flex;
  padding: 1rem;
}
.dumolo .cover {
  /*border: 10px border solid black;*/
  border-radius: 50%;
  overflow: hidden;
}
.dumolo li:hover .cover > img {
  transform: scale(1.5);
}
.dumolo .cover img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 80%;
  transition: opacity 2000ms, transform 1500ms;
}
.dumolo .content {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: black;
}
/*конец круг*/
.background{
  width: initial;
}

input {
  width: 100%;
  height: 72px;
  padding-left: 220px;
  border: 2px solid #7BA7AB;
  border-radius: 20px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 62px;
  height: 62px;
  border: none;
  background: #7BAAAB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
button:before {
  
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

bibox{
  position: absolute; 
  top: 0;
  left: 12px;
  border: none;
  
  
}

header{
    background-color:orange;
    width: 100%;
    height: 170px;
}



/* start of the types */

 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  
}
.pizzaa {
    display: flex;
    flex-direction: row;
    
}
.header {
  /*border: 2px solid green;*/
  height: 60%;
  display:flex;
  justify-content:flex;
  padding: 4rem;
  display: flex;
  
}
.firstimage {
  border: 1px solid orange;
  width: 200px;
  height: 450px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background:dodgerblue;
}
.photo {
  /*border: 3px solid orange;*/
  width: 150px;
  height: 295px;
  
}
.photo1 {
  width: 198px;
  height: 280px;
  image-orientation:center;
  object-fit: cover; 
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  
}
.number h1 {
  text-align: center;
  font-size: 25px;
  color:black;
  
}
.number p {
  text-align: center;
  font-size: 18px;
  color:wheat;
  font-family:inherit;
}
.number h3 {
  text-align: center;
  font-size: 30px;
  color:red;
}

/* end of the types*/ 

circle{
  position: absolute; 
  top: 0;
  left: 12px;
  border: none;
  
  
}